html, body {
    height: 100%;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#viewport {
    width: 640px;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background-image: url('../images/water0.png');
}

#ports {
    width: 0px;
    margin-top: 96px;
    display: flex;
    justify-content: space-around;
}

#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url('../images/port.png');
}

#ship {
    width: 128px;
    height: 64px;
    position: absolute;
    background-image: url('../images/ship.png');
}

#sailbutton {
    border: 0;
    background-color: #FB3640;
    border-bottom: 4px solid #d8040f;
    color: white;
    font-family: inherit;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;  
    font-family: 'Roboto Mono', monospace;
}

#sailbutton:focus {
    background-color: #d8040f;
    border-bottom-width: 0;
    padding-top: 14px;
  }

  #message {
    padding: 16px;
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 3px solid black;
    background-color: white;
  }

  #headup {
    padding: 16px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    position: absolute;
    width: 40%;
    top: 0;
    right: 0;
    text-align: right;
  }
  