html, body {
    height: 100%;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#viewport {
    width: 640px;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background-image: url('../images/water0.png');
}